In [1]:
import pandas as pd

# Đọc file CSV
df = pd.read_csv("results_triple_stacked_lstm.csv")

# Lọc theo activation = relu và loss_function = mse
filtered_df = df[(df['activation'] == 'relu') & (df['loss_function'] == 'mse')]

# Nhóm theo n_steps_in và n_steps_out rồi tính trung bình final_loss
loss_by_steps = filtered_df.groupby(['a', 'b'])['final_loss'].mean().reset_index()

# Đổi tên cột cho dễ hiểu khi dùng vẽ biểu đồ hoặc đưa vào bảng
loss_by_steps.rename(columns={
    'a': 'n_steps_in',
    'b': 'n_steps_out',
    'final_loss': 'final_loss_relu_mse'
}, inplace=True)

# Hiển thị kết quả
loss_by_steps

    n_steps_in  n_steps_out  final_loss_relu_mse
0            1            1             0.086093
1            1            2             0.073564
2            1            3             0.101923
3            1            4             0.101353
4            1            5             0.132203
5            2            1             0.127618
6            2            2             0.115108
7            2            3             0.100739
8            2            4             0.087739
9            2            5             0.169487
10           3            1             0.055462
11           3            2             0.074585
12           3            3             0.096009
13           3            4             0.112805
14           3            5             0.099406
15           4            1             0.069798
16           4            2             0.098389
17           4            3             0.089082
18           4            4             0.116734
19           4            5             0.136539
20           5            1             0.063438
21           5            2             0.065513
22           5            3             0.087274
23           5            4             0.079281
24           5            5             0.090214